/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 180px; /* Margin bottom by footer height */
}
.header {
    margin-top: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}
footer .f-wrapper {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 5;
}

#tool-buttons {
    width: 32px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.btn-container {
    width: 100px;
}

.btn .loader {
    display: none;
}

.btn.loading .loader {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
}

#to-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
}

span.deleteicon {
    position: relative;
    display: block;
}
span.deleteicon span {
    position: absolute;
    display: block;
    top: 11px;
    right: 11px;
    width: 16px;
    height: 16px;
    background: url('/img/tool/cross-16.png');
    cursor: pointer;
}
span.deleteicon input {
    padding-right: 32px;
    box-sizing: border-box;
}
